@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126 
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*pc 768以上*/
.is-pc {
  display: block !important;
}

.is-sp {
  display: none !important;
}

.is-none {
  display: block;
}

.is-block {
  display: none;
}

.is-fixed {
  position: fixed;
  width: 100%;
  height: 100%;
}

.mt00 {
  margin-top: 0 !important;
}

.mt05 {
  margin-top: 5px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt15 {
  margin-top: 15px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt25 {
  margin-top: 25px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mt35 {
  margin-top: 35px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mt45 {
  margin-top: 45px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mr00 {
  margin-right: 0 !important;
}

.mr05 {
  margin-right: 5px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mr15 {
  margin-right: 15px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.mr25 {
  margin-right: 25px !important;
}

.mr30 {
  margin-right: 30px !important;
}

.mr35 {
  margin-right: 35px !important;
}

.mr40 {
  margin-right: 40px !important;
}

.mr45 {
  margin-right: 45px !important;
}

.mr50 {
  margin-right: 50px !important;
}

.mb00 {
  margin-bottom: 0 !important;
}

.mb05 {
  margin-bottom: 5px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb25 {
  margin-bottom: 25px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mb35 {
  margin-bottom: 35px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.mb45 {
  margin-bottom: 45px !important;
}

.mb50 {
  margin-bottom: 50px !important;
}

.mb55 {
  margin-bottom: 55px !important;
}

.mb60 {
  margin-bottom: 60px !important;
}

.mb65 {
  margin-bottom: 65px !important;
}

.mb70 {
  margin-bottom: 70px !important;
}

.mb75 {
  margin-bottom: 75px !important;
}

.mb80 {
  margin-bottom: 5pc !important;
}

.mb85 {
  margin-bottom: 85px !important;
}

.mb90 {
  margin-bottom: 90px !important;
}

.mb95 {
  margin-bottom: 95px !important;
}

.mb100 {
  margin-bottom: 75pt !important;
}

.mb110 {
  margin-bottom: 110px !important;
}

.mb120 {
  margin-bottom: 90pt !important;
}

.mb130 {
  margin-bottom: 130px !important;
}

.mb140 {
  margin-bottom: 140px !important;
}

.mb150 {
  margin-bottom: 150px !important;
}

.mb160 {
  margin-bottom: 10pc !important;
}

.mb170 {
  margin-bottom: 170px !important;
}

.mb180 {
  margin-bottom: 180px !important;
}

.mb190 {
  margin-bottom: 190px !important;
}

.mb200 {
  margin-bottom: 200px !important;
}

.ml00 {
  margin-left: 0 !important;
}

.ml05 {
  margin-left: 5px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.ml15 {
  margin-left: 15px !important;
}

.ml20 {
  margin-left: 20px !important;
}

.ml25 {
  margin-left: 25px !important;
}

.ml30 {
  margin-left: 30px !important;
}

.ml35 {
  margin-left: 35px !important;
}

.ml40 {
  margin-left: 40px !important;
}

.ml45 {
  margin-left: 45px !important;
}

.ml50 {
  margin-left: 50px !important;
}

.pt00 {
  padding-top: 0 !important;
}

.pt05 {
  padding-top: 5px !important;
}

.pt10 {
  padding-top: 10px !important;
}

.pt15 {
  padding-top: 15px !important;
}

.pt20 {
  padding-top: 20px !important;
}

.pt25 {
  padding-top: 25px !important;
}

.pt30 {
  padding-top: 30px !important;
}

.pt35 {
  padding-top: 35px !important;
}

.pt40 {
  padding-top: 40px !important;
}

.pt45 {
  padding-top: 45px !important;
}

.pt50 {
  padding-top: 50px !important;
}

.pr00 {
  padding-right: 0 !important;
}

.pr05 {
  padding-right: 5px !important;
}

.pr10 {
  padding-right: 10px !important;
}

.pr15 {
  padding-right: 15px !important;
}

.pr20 {
  padding-right: 20px !important;
}

.pr25 {
  padding-right: 25px !important;
}

.pr30 {
  padding-right: 30px !important;
}

.pr35 {
  padding-right: 35px !important;
}

.pr40 {
  padding-right: 40px !important;
}

.pr45 {
  padding-right: 45px !important;
}

.pr50 {
  padding-right: 50px !important;
}

.pb00 {
  padding-bottom: 0 !important;
}

.pb05 {
  padding-bottom: 5px !important;
}

.pb10 {
  padding-bottom: 10px !important;
}

.pb15 {
  padding-bottom: 15px !important;
}

.pb20 {
  padding-bottom: 20px !important;
}

.pb25 {
  padding-bottom: 25px !important;
}

.pb30 {
  padding-bottom: 30px !important;
}

.pb35 {
  padding-bottom: 35px !important;
}

.pb40 {
  padding-bottom: 40px !important;
}

.pb45 {
  padding-bottom: 45px !important;
}

.pb50 {
  padding-bottom: 50px !important;
}

.pl00 {
  padding-left: 0 !important;
}

.pl05 {
  padding-left: 5px !important;
}

.pl10 {
  padding-left: 10px !important;
}

.pl15 {
  padding-left: 15px !important;
}

.pl20 {
  padding-left: 20px !important;
}

.pl25 {
  padding-left: 25px !important;
}

.pl30 {
  padding-left: 30px !important;
}

.pl35 {
  padding-left: 35px !important;
}

.pl40 {
  padding-left: 40px !important;
}

.pl45 {
  padding-left: 45px !important;
}

.pl50 {
  padding-left: 50px !important;
}

.w03per {
  width: 3%;
}

.w04per {
  width: 4%;
}

.w05per {
  width: 5%;
}

.w06per {
  width: 6%;
}

.w07per {
  width: 7%;
}

.w08per {
  width: 8%;
}

.w09per {
  width: 9%;
}

.w10per {
  width: 10%;
}

.w11per {
  width: 11%;
}

.w12per {
  width: 12%;
}

.w13per {
  width: 13%;
}

.w14per {
  width: 14%;
}

.w15per {
  width: 15%;
}

.w16per {
  width: 16%;
}

.w17per {
  width: 17%;
}

.w18per {
  width: 18%;
}

.w19per {
  width: 19%;
}

.w20per {
  width: 20%;
}

.w21per {
  width: 21%;
}

.w22per {
  width: 22%;
}

.w23per {
  width: 23%;
}

.w24per {
  width: 24%;
}

.w25per {
  width: 25%;
}

.w26per {
  width: 26%;
}

.w27per {
  width: 27%;
}

.w28per {
  width: 28%;
}

.w29per {
  width: 29%;
}

.w30per {
  width: 30%;
}

.w31per {
  width: 31%;
}

.w32per {
  width: 32%;
}

.w33per {
  width: 33%;
}

.w34per {
  width: 34%;
}

.w35per {
  width: 35%;
}

.w36per {
  width: 36%;
}

.w37per {
  width: 37%;
}

.w38per {
  width: 38%;
}

.w39per {
  width: 39%;
}

.w40per {
  width: 40%;
}

.w41per {
  width: 41%;
}

.w42per {
  width: 42%;
}

.w43per {
  width: 43%;
}

.w44per {
  width: 44%;
}

.w45per {
  width: 45%;
}

.w46per {
  width: 46%;
}

.w47per {
  width: 47%;
}

.w48per {
  width: 48%;
}

.w49per {
  width: 49%;
}

.w50per, .wHalf {
  width: 50%;
}

.wTri {
  width: 33%;
}

.wQuart {
  width: 25%;
}

.wFull {
  width: 100%;
}

.--text-indent_left01 {
  text-indent: -1;
  padding-left: 1;
}

.--text-indent_left02 {
  text-indent: -2;
  padding-left: 2;
}

.wb-a {
  word-break: break-all;
}

table {
  width: 100%;
  border-collapse: collapse;
}

button {
  cursor: pointer;
}

.ta_l {
  text-align: left;
}

.ta_r {
  text-align: center;
}

.ta_c {
  text-align: right;
}

.spacer5 {
  height: 5px;
}

.spacer5, .spacer10 {
  clear: both;
  font-size: 1px;
}

.spacer10 {
  height: 10px;
}

.spacer20 {
  height: 20px;
}

.spacer20, .spacer30 {
  clear: both;
  font-size: 1px;
}

.spacer30 {
  height: 30px;
}

.spacer40 {
  height: 40px;
}

.spacer40, .spacer50 {
  clear: both;
  font-size: 1px;
}

.spacer50 {
  height: 50px;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.box-sizing {
  box-sizing: border-box;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.fl-img {
  float: left;
  margin-right: 10px;
}

.fl-img, .fr-img {
  margin-bottom: 10px;
}

.fr-img {
  float: right;
  margin-left: 10px;
}

.clear {
  clear: both;
}

.flImgL {
  float: left;
  margin: 5px 25px 10px 0;
}

.flImgR {
  float: right;
  margin: 5px 0 15px 25px;
}

a.imgHover00:hover img {
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "alpha(opacity=0)";
}

a.imgHover01:hover img {
  opacity: .1;
  filter: alpha(opacity=10);
  -ms-filter: "alpha(opacity=10)";
}

a.imgHover02:hover img {
  opacity: .2;
  filter: alpha(opacity=20);
  -ms-filter: "alpha(opacity=20)";
}

a.imgHover03:hover img {
  opacity: .3;
  filter: alpha(opacity=30);
  -ms-filter: "alpha(opacity=30)";
}

a.imgHover04:hover img {
  opacity: .4;
  filter: alpha(opacity=40);
  -ms-filter: "alpha(opacity=40)";
}

a.imgHover05:hover img {
  opacity: .5;
  filter: alpha(opacity=50);
  -ms-filter: "alpha(opacity=50)";
}

a.imgHover06:hover img {
  opacity: .6;
  filter: alpha(opacity=60);
  -ms-filter: "alpha(opacity=60)";
}

a.imgHover07:hover img {
  opacity: .7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}

a.imgHover08:hover img {
  opacity: .8;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
}

a.imgHover09:hover img {
  opacity: .9;
  filter: alpha(opacity=90);
  -ms-filter: "alpha(opacity=90)";
}

.imgR03 {
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.imgR04 {
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.imgR05 {
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.imgR06 {
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

.imgR07 {
  -webkit-border-radius: 7px;
  border-radius: 7px;
}

/*sp 768以下*/
@media screen and (max-width: 768px) {
  .is-pc {
    display: none !important;
  }

  .is-sp {
    display: block !important;
  }

  .spi {
    display: inline;
  }
}
/* 
 fonts
----------------------------------------------------------- */
@font-face {
  font-family: 'Noto Serif Japanese';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/NotoSerifCJKjp/NotoSerifCJKjp-Regular.otf") format("opentype");
  font-display: swap;
}
/* 
 html
----------------------------------------------------------- */
html {
  font-size: 62.5%;
}

/* 
 body
----------------------------------------------------------- */
@font-face {
  font-family: 'Noto Serif Japanese';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/NotoSerifCJKjp/NotoSerifCJKjp-Regular.otf") format("opentype");
  font-display: swap;
}
body {
  font-family: 'Noto Serif Japanese', 'メイリオ', "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3";
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #333333;
  background: #FFFFFF;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

body * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* 
 img
----------------------------------------------------------- */
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border: 0;
}

/* 
 wrap
----------------------------------------------------------- */
.wrap {
  width: 100%;
  margin: 0 auto;
}

/* 
 header
----------------------------------------------------------- */
.head {
  width: 100%;
  background: linear-gradient(to bottom, #FEFEFE 0%, #f6f6f6 100%);
}
.head__inner {
  width: 1200px;
  margin: auto;
}

/* 
 mv
----------------------------------------------------------- */
.mv {
  width: 1200px;
  margin: auto;
}

/* 
 nav
----------------------------------------------------------- */
.nav {
  width: 1200px;
  margin: auto;
  background-color: #08355e;
  color: #fff;
}
.nav__lists {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 15px 0;
}
.nav__list {
  width: 28%;
  text-align: center;
  border-left: 2px solid #fff;
}
.nav__list:last-child {
  border-right: 2px solid #fff;
}
.nav__list a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 5px 0;
  position: relative;
}

.nav li.is-active a span.btm {
  position: absolute;
  bottom: 0;
  left: 25%;
  width: 50%;
  height: 2px;
  background: #fff;
  transition: all 0.3s ease;
}

.fixed {
  position: fixed;
  top: 0;
  left: 50%;
  margin-left: -600px;
  z-index: 9999;
}

/* 
 sec 
----------------------------------------------------------- */
.sec {
  width: 100vw;
}

.sec__inner {
  margin: 0px auto;
  width: 1000px;
}

.sec__inner--white {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 50px 20px 50px;
}

/* 
 sec ttl 
----------------------------------------------------------- */
.ttl {
  color: #fff;
  font-size: 30px;
  position: relative;
}
.ttl > span {
  font-size: 60px;
}

/* 
 sec lead
----------------------------------------------------------- */
.sec--lead {
  padding: 60px 0;
}
.sec--lead__txt {
  color: #036;
  font-size: 24px;
  text-align: center;
}

/* 
 sec tokyo
----------------------------------------------------------- */
.sec--tokyo {
  text-align: center;
  background-color: #092d52;
}

/* 
 sec project
----------------------------------------------------------- */
.sec--project {
  background: url("../img/bg_project.jpg") center top no-repeat fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  display: -ms-flexbox;
  /*--- IE10 ---*/
  /* 左右中央寄せ */
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  /* 上下中央寄せ */
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sec--project__txt {
  color: #036;
  font-size: 38px;
  text-align: center;
  padding: 0px 0 50px 0;
}

.sec--project__txt > span {
  font-size: 0.4em;
}

.sec--project__txt02 {
  padding: 30px 0 0px 0;
}

.sec--project__txt03 {
  font-size: 24px;
  padding: 60px 0 0px 0;
}

.sec--project__txt04 {
  font-size: 16px;
  padding: 30px 0 0px 0;
}

/* 
 sec outline
----------------------------------------------------------- */
.ttl--outline {
  padding: 100px 0 20px;
}

.ttl--outline::after {
  position: absolute;
  content: '';
  border-bottom: 3px solid #fff;
  display: inline-block;
  bottom: 20px;
  left: -850px;
  width: 100%;
}

.sec--outline {
  background-color: #092d52;
  padding: 0 0 80px 0;
}

.sec--outline__txt {
  color: #fff;
  text-align: left;
  font-size: 16px;
}

/* 
 sec concept
----------------------------------------------------------- */
.sec--concept {
  background: url("../img/bg_concept.jpg") center 85% no-repeat fixed;
  background-size: cover;
  width: 100vw;
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 0;
}

.ttl--concept {
  color: #092d52;
  padding: 0px 0 30px;
}

.ttl--concept::after {
  position: absolute;
  content: '';
  border-bottom: 3px solid #092d52;
  display: inline-block;
  bottom: 20px;
  left: -850px;
  width: 100%;
}

.sec--concept__wrap {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 50px 0 70px;
}

.sec--concept__txt {
  color: #092d52;
  font-size: 22px;
  padding-bottom: 20px;
}

.sec--concept__txt--fw_small {
  font-size: 22px !important;
  color: #092d52 !important;
}

.sec--concept__txt--fw_large {
  font-size: 38px !important;
}

.sec--concept__txt02 {
  color: #000;
  font-size: 38px;
}

.sec--concept__txt02 > span {
  font-size: 0.5em;
}

/* 
 sec facility
----------------------------------------------------------- */
.sec--facility {
  background: url("../img/bg_facility.jpg") center 50% no-repeat fixed;
  background-size: cover;
  width: 100vw;
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 0;
}

.ttl--facility {
  color: #fff;
  padding: 0px 0 30px;
}

.ttl--facility::after {
  position: absolute;
  content: '';
  border-bottom: 3px solid #ffffff;
  display: inline-block;
  bottom: 20px;
  left: -815px;
  width: 100%;
}

.sec__inner--facility {
  margin: 0px auto;
  width: 1080px;
}

.sec--facility__wrap {
  background-color: rgba(61, 63, 93, 0.8);
  text-align: center;
  padding: 50px 0;
}

.sec--facility__txt {
  color: #092d52;
  font-size: 22px;
  width: 1000px;
}

.sec--facility__txt02 {
  color: #000;
  font-size: 38px;
}

/* 
 sec button
----------------------------------------------------------- */
.sec--button {
  background-color: #092d52;
  padding: 25px 0;
  text-align: right;
}

.sec__inner--button {
  overflow: hidden;
}

.sec__lists {
  float: right;
}

.sec__list {
  margin-bottom: 30px;
}
.sec__list:last-child {
  margin-bottom: 0;
}

.sec__list--top a {
  color: #fff;
  text-decoration: none;
  padding: 10px 45px 10px 0;
  background: url("../img/btn_top.png") right center no-repeat;
  background-size: 28px;
  line-height: 2;
}

.sec__list--next a {
  color: #fff;
  text-decoration: none;
  padding: 10px 45px 10px 0;
  background: url("../img/btn_bottom.png") right center no-repeat;
  background-size: 28px;
  line-height: 2;
}

/* 
 sec project02
----------------------------------------------------------- */
.sec--project02 {
  background: url("../img/bg_project02.jpg") center top no-repeat fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  /* 左右中央寄せ */
  justify-content: center;
  /* 上下中央寄せ */
  align-items: center;
}

/* 
 sec concept02
----------------------------------------------------------- */
.sec--concept02 {
  background: url("../img/bg_concept02.jpg") center 85% no-repeat fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 0;
}

.ttl--concept {
  color: #092d52;
  padding: 0px 0 30px;
}

.ttl--concept::after {
  position: absolute;
  content: '';
  border-bottom: 3px solid #092d52;
  display: inline-block;
  bottom: 25px;
  left: -760px;
  width: 100%;
}

.sec--concept__wrap {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 50px 20px 50px;
}

.sec--concept__txt {
  color: #000000;
  font-size: 60px;
  padding-bottom: 0px;
  font-weight: bold;
}

.ff--hiragino {
  font-family: "Hiragino Kaku Gothic Pro";
}

.sec--concept__txt02 {
  color: #000;
  font-size: 26px;
  padding-bottom: 20px;
}

.sec--concept__txt03 {
  color: #000;
  font-size: 38px;
  padding-bottom: 30px;
}

.sec--concept__txt04 {
  margin: 2% 10% 0% 9%;
  text-align: left;
  color: #000;
  font-size: 14px;
}

.sec--concept__txt05 {
  margin: 0% 0 0% 9%;
  text-align: left;
  color: #000;
  font-size: 14px;
}

/* 
 sec facility02
----------------------------------------------------------- */
.sec--facility02 {
  background: url("../img/bg_facility02.jpg") center 40% no-repeat fixed;
  background-size: cover;
  width: 100vw;
  height: 160vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 0;
  position: relative;
}

.sec--facility__wrap02 {
  background-color: rgba(72, 39, 14, 0.8);
  text-align: center;
  padding: 50px 0;
}

.sec__lists02Wrap {
  margin: 0px auto;
  width: 1000px;
}

.sec__lists02 {
  text-align: right;
  position: absolute;
  bottom: 0;
  left: 0%;
  margin: auto;
  width: 100%;
  padding: 10px 0 10px 0;
  background-color: rgba(0, 0, 0, 0.2);
}

/* 
 sec button02
----------------------------------------------------------- */
.sec--button02 {
  background-color: #fff;
  padding: 25px 0;
  text-align: right;
}

/* 
 sec recruit
----------------------------------------------------------- */
.sec--recruit {
  background: url("../img/bg_recruit.jpg") center 50% no-repeat fixed;
  background-size: cover;
  width: 100vw;
}
.sec--recruit .sec--recruit__btnTop {
  margin-top: 35px;
  text-align: center;
  cursor: pointer;
}

.sec__inner--recruit {
  padding: 2% 0 2%;
}

.sec--recruit__wrap {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 50px 75px 70px;
  border-radius: 20px;
}

.sec--recruit__txt {
  color: #000;
  font-size: 36px;
  padding-bottom: 20px;
}

.sec--recruit__txt02 {
  color: #000;
  font-size: 38px;
}

.sec--recruit__img {
  margin-bottom: 90px;
}

.sec--recruit__row {
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.sec--recruit__row .sec--recruit__colL {
  margin-right: 70px;
}

.sec--recruit__colLTtl,
.sec--recruit__colRTtl {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2px dotted #ccc;
}

/* 
 footer
----------------------------------------------------------- */
.foot {
  background-color: #000;
}
.foot__inner {
  margin: -0px auto;
  width: 1000px;
  padding: 20px 0;
  text-align: center;
}
.foot__copy {
  color: #fff;
}

@media screen and (max-width: 767px) {
  .head {
    width: 100%;
    margin: auto;
  }
  .head__inner {
    width: 100%;
  }

  .mv {
    width: 100%;
    margin: auto;
  }

  .nav__lists {
    padding: 15px 0;
    transition: all  0.4s ease;
  }

  .nav.fixed .nav__lists {
    padding: 0px 0 10px;
  }

  .nav__list a {
    font-size: 14px;
    padding: 5px 5%;
  }

  .nav {
    width: 100%;
    padding: 0;
  }

  .nav__list {
    width: 31%;
  }
  .nav__list:first-child {
    padding-top: 2%;
  }

  .fixed {
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 0;
  }

  .ttl--outline::after {
    left: -185px;
  }

  .ttl--concept::after {
    left: -100px;
  }

  .ttl--facility::after {
    left: -65px;
  }

  .sec__inner--white {
    background: none;
    padding: 20px 3% 30px;
  }

  .sec__inner--white > div {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 4% 2%;
  }

  .sec--project {
    background: url("../img/bg_project.jpg") center top no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
  }

  .sec--lead {
    padding: 30px 5%;
  }

  .sec--lead__txt {
    font-size: 18px;
  }

  .sec--project__txt {
    font-size: 24px;
    padding: 0px 0 20px 0;
  }

  .sec--project__txt > span {
    font-size: 0.6em;
  }

  .sec--project__txt03 {
    font-size: 18px;
  }

  .sec--project__txt04 {
    font-size: 12px;
    padding: 10px 0 0px 0;
  }

  .sec--concept {
    background: url("../img/bg_concept.jpg") center 85% no-repeat;
    height: 90vh;
    width: 100vw;
    background-size: cover;
  }

  .sec--concept02 {
    background: url("../img/bg_concept02.jpg") center 85% no-repeat;
    height: 100vh;
    background-size: cover;
  }
}
@media screen and (max-width: 767px) and (max-width: 350px) {
  .sec--concept02 {
    height: 120vh;
  }
}
@media screen and (max-width: 767px) {
  .sec--outline {
    padding: 0 0 40px 0;
  }

  .ttl--outline {
    padding: 20px 0 20px;
  }

  .sec--outline__txt {
    color: #fff;
    text-align: left;
    font-size: 12px;
  }

  .sec--concept__wrap {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 3% 30px;
  }

  .sec--concept__txt {
    color: #092d52;
    font-size: 24px !important;
    padding-bottom: 10px;
  }

  .sec--concept__txt--fw_small {
    font-size: 16px !important;
  }

  .sec--concept__txt02 {
    color: #000;
    font-size: 20px !important;
    padding-bottom: 5px;
  }

  .sec--concept__txt03 {
    color: #000;
    font-size: 20px !important;
    padding-bottom: 10px;
  }

  .sec--concept__txt04 {
    margin: 5% 0 0 0;
    text-align: left;
    color: #000;
    font-size: 14px;
  }

  .sec--concept__txt04 > span {
    font-size: 10px;
  }

  .sec--concept__txt05 {
    margin: 0% 0 0% 0%;
  }

  .sec--facility {
    background: url("../img/bg_facility.jpg") center 50% no-repeat;
    background-size: cover;
    height: 80vh;
    width: 100vw;
  }

  .sec--facility02 {
    height: 90vh;
  }

  .sec--facility__wrap {
    background-color: rgba(61, 63, 93, 0.8);
    text-align: center;
    padding: 3% 3%;
  }

  .sec__inner {
    margin: 0px auto;
    width: 100%;
    padding: 0 5%;
  }

  .sec__inner--recruit {
    margin: 0px auto;
    width: 100%;
    padding: 5% 5% 0;
  }

  .sec--recruit {
    background: url("../img/bg_recruit.jpg") center 50% no-repeat;
  }

  .sec--recruit__wrap {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 50px 10px 30px;
    border-radius: 20px;
  }

  .sec--recruit__txt {
    font-size: 24px;
  }

  .sec--recruit__img {
    margin-bottom: 3%;
  }

  .sec--recruit__row .sec--recruit__colL {
    margin-right: 0px;
  }

  .sec--recruit .sec--recruit__btnTop {
    margin: 5% 0 0;
    padding: 0 0 5%;
    text-align: center;
    cursor: pointer;
  }

  .sec--recruit__colLTtl,
  .sec--recruit__colRTtl {
    padding-bottom: 10px;
    margin: 10px 0;
    border-bottom: 2px dotted #ccc;
  }

  .foot__inner {
    margin: 0px auto;
    width: 90%;
    padding: 20px 0;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
